html, body {
	margin:0; padding:0; min-height: 100%;
}
body.topLevel {
	font-family:Georgia, Times, serifs;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
header {
	width:800px;
	margin:0 auto;
}
#content {
	width:786px;
	min-height:300px;
	margin:0 auto;
	background:#fff;
	padding:5px;
	border: 2px solid #0078AE;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
footer {
	position:absolute;
	bottom:0; right:0;
}
h1 {
	font-size: 35px;
	color: #0078AE;
}
.bigbuttongrid .button {
	width: 360px;
	margin: 10px;
	display: inline-block;
	float: left;
	font-size: 40px;
}
.bigbuttongrid .button:nth-child(even) {
	float:right;
}
.center {
	text-align: center;
	margin: 0 auto;
}
#loginForm .button {
	font-size: 12px;
}
#loginForm #username, #password {
	width: 116px;
	font-size: 12px;
}
#loginForm label {
	font-size: 12px;
}
input[type="text"], input[type="password"] {
	width: 400px;
	line-height: 1.5em;
	font-size: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.who {
	float: left;
	margin-right: 5px;
}
.logoutContainer {
	float: right;
	font-size: 11px;
}
.whoName {
	font-weight: bold;
	font-size: 14px;
}
.whoSchool {
	font-size: 10px;
	font-style: italic;
}
.list .listitem:nth-child(even) {
	background-color: #eee;
}
.list .listitem .title {
	float:left;
}
.list .listitem .tools {
	float:right;
}
.list .listitem .tools img {
	height: 40px;
	margin-bottom:-15px;
}
