<% block('header', 'Teacher') %>
<% layout('boilerplate') -%>

<div class="bigbuttongrid">
	<a href="teacher/questions" class="button">Questions</a>
	<a href="teacher/assignments" class="button">Assignments</a>
	<a href="teacher/courses" class="button">Courses</a>
	<a href="teacher/students" class="button">Students</a>
</div>
<div style="clear:both"></div>

