<% if (typeof user != 'undefined') { %>
<div class="who">
	<div class="whoName"><%= user.first %> <%= user.last %></div>
	<% for (i = 0; i < user.schools.length; i++) { %>
		<div class="whoSchool"><%= user.schools[i].name -%></div>
	<% } %>
</div>
<div class="logoutContainer"><a href="/logout" class="button">Log Out</a></div>
<% } else { %>
<script type="text/javascript">
function submitLoginForm() {
	form = $("#loginForm");
	username = $("#loginForm #username");
	password = $("#loginForm #password");
	if (username.value == "")
		username.style.borderColor = "red";
	if (password.value == "")
		password.style.borderColor = "red";
	if (username.value != "" && password.value != "") {
		password = $('#loginForm #password').val();
		password = sjcl.codec.base64.fromBits(sjcl.hash.sha256.hash(password), true);
		$('#loginForm #password').val(password);
		form.submit();
	}
}
</script>
<form id="loginForm" action="login" method="POST">
	<input id="username" name="username" type="text" placeholder="Username" onkeypress="if(event && event.keyCode == 13) submitLoginForm();"/>
	<input id="password" name="password" type="password" placeholder="Password" onkeypress="if(event && event.keyCode == 13) submitLoginForm();"/>
	<input id="remember" name="remember" type="checkbox"/><label for="remember">Remember</label>
	<a href="javascript:submitLoginForm()" class="button">Log In</a>
	<a href="register" class="button">Sign Up</a>
</form>
<% } %>
