<% block('header', 'Questions') %>
<% block('headerRight', partial('who.ejs')) %>
<% layout('boilerplate') -%>

<div class="bigbuttongrid">
	<a href="teacher/questions" class="bigbutton">Questions</a>
	<a href="teacher/assignments" class="bigbutton">Assignments</a>
	<a href="teacher/courses" class="bigbutton">Courses</a>
	<a href="teacher/students" class="bigbutton">Students</a>
</div>
<div style="clear:both"></div>

